/*************************** RESETEO Y FUENTES *******************/

* {
    margin: 0;
    padding: 0;


}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@100&display=swap');



/****************************** GRID PRINCIPAL ********************/
/****************************** DESKTOP VIEW ********************/


.menu {
    position: absolute;
    top: 0;
    left: 48.7%;
    height: 100vh;    
    grid-area: menu;
    background: rgb(182, 109, 14) ;
    color: white;
    width: 52px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
    overflow: hidden;
    white-space: nowrap;
}




.divPrincipal {
    display: grid;
    background-color: rgb(0, 0, 0);
    grid-template-columns: 49% 50px auto;
    grid-template-rows: auto 10px;
    grid-template-areas:
        "paginab menu paginaa"
        "footer footer footer";
    /* height: 913px; */
}


.fondo {
    background-color: black;


}


.iframeM {
    width: 100%;
    height: 100%;
    border: none;

}

.paginab {
    grid-area: paginab;
    background-color: rgb(0, 0, 0);
    border: none;
    background-image: url(../img/islaEdicion.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96.4vh;


}

.paginaa {
    grid-area: paginaa;
    background-color: rgb(0, 0, 0);
    border: none;
    display: flex;
    height: 96.4vh;
}



/****************************** VISTA TABLET *********************************/

 @media screen and (min-width:600px) and (max-width:1023px) {


    .divPrincipal {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-areas:
            "menu paginaa"
            "footer footer";
    }

    .paginab {
        display: none;
    }

    nav.menu {
        left: 0%;
    }


}

/* VISTA CELULAR */
@media screen and (min-width:200px) and (max-width:600px) {


    .divPrincipal {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-areas:
            "menu paginaa"
            "footer footer";
    }

    .paginab {
        display: none;
    }

    nav.menu {
        left: 0%;
    }

}







/**************************** SETEOS GENERALES *******************************/

h3 {
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-align: center;

    padding-top: 15px;
    text-transform: uppercase;

}



footer p {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    padding-top: 50px;
}


li {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 15px 10px 10px
}

a:visited {
    color: white;
}











/********************************** INDEX ************************/

.fondoImagen {
    background-image: url(../img/islaEdicion.png);
    /* backdrop-filter: brightness(0%); */
    /* background-size: 100% ; */
    background-repeat: no-repeat;

}


.fondoIndex {
    background-image: url(../img/islaEdicion.png);
    background-size: cover;



}

.reelb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

.reelb h3 {
    /* padding-bottom: 0px; */
    color: black;
    text-shadow: 10px 0px 10px white;

}

.reelb .videoReel {
    /* padding-bottom: px ; */
    width: 500px;
    height: 500px;
    /* border: 10px red solid; */


}

.videoReel iframe {
    width: 100%;
    height: 100%;
    border: none;

}























/***************** PAGINA PRINCIPAL ************************/
.paginaPrincipal {
    display: flex;
    flex-direction: column;
}

.paginaPrincipal h3 {
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}



.logo {
    display: flex;
    min-width: 100px;
    max-width: 200px;
}

.videoPrincipal {
    display: flex;
}

.paginaPrincipal section .videoPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginaPrincipal section p {
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}

.videoPrincipal iframe {
    width: 100%;
    height: 300px;
    border: none
}



/*********************** PORTFOLIO ****************************/

.prueba {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.caja {
    background-color: red;
    padding: 50px;
}

.portfolioVimeo {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    align-content: space-around;
}

.vimeo {
    margin: 5px 5px 25px 5px;


}



/************************* QUIEN SOY ******************************/




.imgScale {
    width: 100%;
    transition: 0.5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.imgScale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}





/************************* SERVICIOS ******************************/


.underline:hover {
    text-decoration: underline;

}

ul {
    list-style-type: none;
}



.boxshadow:hover {
    box-shadow: 7px 7px 15px rgb(104, 104, 104);
    transition: 0.5s;


}

.colortext {
    color: black;

}