




$estilos: (
    colortexto: rgb(255, 255, 255),
    peso: bold,
    Tf: 2rem,
);







p {
font-weight:lighter;
font-size: 20px  ;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
color: rgb(255, 255, 255);

}




h3 {
color: map-get($estilos, colortexto) ;
font-weight: map-get($estilos, peso);
font-size: map-get($estilos, Tf);
font-family: 'Montserrat', sans-serif;
padding-top: 15px;
text-transform: uppercase;


}


