@import "fuentes";



* {
    margin: 0;
    padding: 0;
}


// ASSETS

$coolBrown: rgb(182, 109, 14);
$imgfondo: url(../img/islaEdicion.png)


:root {
--bs-offcanvas-width: 1000vw;
}


.canvasWidth {
width: 3000px ;

}

.modal-body {
background-image: $imgfondo;

}


.contacto {
    background-color: black;
 

}



/*.bodyprincipal{

    .divPrincipal {
        background-color: black;

        .menu {
            position: absolute;
            top: 0;
            left: 48.7%;
            height: 100vh;    
            grid-area: menu;
            background: $coolBrown;
            color: rgb(250, 8, 230);
            width: 52px;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            transition: 1s;
            overflow: hidden;
            white-space: nowrap;

        }
        .menu:hover {
       
            width: 180px;
            }



                .icon {
                    width: 30px;
                    height: 30px;
                  
                }

                .icon:hover {
                    filter: invert(100%);
                }


            }
                
*/



    footer {
                 grid-area: footer;
                 position: sticky;
                 background-color: $coolBrown;
        

                .texto {
                     color: rgb(0, 0, 0);
                     text-align: center;
                     }
                     
                                        

            }
}


